@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap');

body {
  background-color: #f7d9e1;
  color: #282828;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  display:flexbox;
}

main {
  padding: 20px;
}

.container.fluid{
  position: relative;
}

/* .barra{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
} */

/* Estilos para la barra de navegación */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
}

/* Estilos para las semanas */
.semanas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  margin: 5px;
}

/* Estilos para el calendario */
.calendario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.dia {
  flex-basis: calc(100% / 7);
  text-align: center;
  margin: 5px;
}

/* Estilos para las tarjetas de ejercicio */
.tarjeta-ejercicio {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 2em;
}

.tarjeta-ejercicio img {
  max-width: 100%;
  height: auto;
}

.tarjeta-ejercicio h4 {
  margin-top: 2rem;
}

.tarjeta-ejercicio p {
  margin-bottom: 0;
}

